<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Nubank Prototipo</title>
    
</head>
<body>
    <header>
    <div class="center-nav">
        <figure id="logoTipo"><img src="img/Nubank_logo_2021.svg.png" alt="" width="150px"></figure>
            
                <p>Nubank</p>
                <p>Conta Digital</p>
                <p>Para você</p>
            
    </div>
        <div class="Btt-nav">
            <button id="Up">Sign-Up</button>
            <button id="In">Sign-In</button>
        </div>
    
    </header>
    <main>
        <article id="article1">
            <figure class="last-one" ><img src="img/nubank_usecase_0_1.png" alt="" width="500px"></figure>
            <div id="Text-title">
                <h1>Ser Nubank é Reiventar sua vida financeira</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Animi perferendis est amet ipsam cumque, ullam, odit, 
                expedita impedit necessitatibus obcaecati reiciendis. 
                Explicabo mollitia suscipit vero ex tempora saepe, perspiciatis fugiat?</p>
                <div class="Nav-title-btt">
                <button>Quero ser Nubank</button>
                    
                    <img src="img/icone-apple-symbole-logo-violet.png" alt="" width="30px">
                    <img src="img/icone-github-violet.png" alt="" width="30px">
                    <img src="img/icon-playstore-png-purple.png" alt="" width="30px">
                
                </div>
                
            </div>
        </article>
        <section id="section1"><h2>Transformando o Futuro Financeiro: A Jornada Inovadora do Nubank na Revolução Bancária</h2></section>
        <article id="article2">
           <div class="last-one2 caixa-text"> 
                <h1>Tenha N possibilidades de produto para N possibilidades na vida</h1>
                <p>Conta gratuita, cartão de crédito sem anuidade, empréstimo e muito mais: tudo num único app.</p>
                <form action="" id="conta-inser">
                    <h3>Peça sua conta e cartão de crédito do Nubank</h3>
                    <input type="text" placeholder="Digite seu CPF" required>
                    <button>Continuar</button>
                </form>
            </div>
                <figure class="last-one2"> <img src="img/pix_credito_QR.gif" alt="" width="500px"></figure>
        </article>

        <section id="section2">
            <div class="ani">
                <h2>O cartão de crédito agora vai além das compras, permitindo enviar Pix diretamente do saldo disponível.</h2>
            </div>
                <figure class="ani-figure"><img src="img/1662317088-pj-card-nubank-flutuantes-md-3x.png" alt="" width="350px"></figure>
            <div class="ani">
                <h2>Com a funcionalidade de Pix, seu cartão de crédito oferece mais praticidade, possibilitando transferências instantâneas.</h2>
            </div>
        </section>
        <hr>
        <section id="section3">
            <div class="card-1">
                <div class="center-imgtt">
                <h1>Desbravando a Simplicidade Financeira: Conheça as Vantagens Exclusivas dos Cartões Nubank e Sua Conta Digital</h1>
                   <img src="img/nubank-novo-visual-app-2.webp" alt="" width="300px"> 
                    <ul>
                        <li>Cartões Flexíveis: Escolha entre diversas opções de cartões Nubank, personalizando seu limite e desfrutando de taxas transparentes.</li>
                        <li>Zero Anuidade: Liberte-se de preocupações com taxas anuais, pois os cartões Nubank oferecem a conveniência de não ter anuidade.</li>
                        <li>Nubank Rewards: Ganhe pontos a cada compra realizada e troque por descontos em estabelecimentos parceiros ou até mesmo em faturas do cartão.</li>
                        <li>Pix na Conta: Acesse a praticidade do Pix diretamente pela conta Nubank, facilitando transferências e pagamentos instantâneos.</li>
                        <li>Investimentos Descomplicados: Potencialize seus ganhos com investimentos simples e intuitivos oferecidos pela Nubank, tudo dentro do mesmo aplicativo.</li>
                    </ul>
                </div>
            </div>


            <div class="card-2">
                <div class="center-imgtt">
                <h1>Inovação ao Seu Alcance: Descubra as Funcionalidades Únicas da Conta Nubank e Como Revolucionou a Experiência Bancária</h1>
                    <img src="img/08f561422cdc8df2828b2c7bd773e5b952ed70cd.gif" alt="" width="300px">
                    <ul>
                        <li>Conta Digital sem Tarifas: Desfrute de uma conta sem tarifas escondidas, com transferências ilimitadas e saques em toda a rede Banco24Horas.</li>
                        <li>Organização Financeira: Categorize seus gastos automaticamente, receba alertas de compras e tenha controle total das suas finanças em um só lugar.</li>
                        <li>Empréstimo Pessoal: Acesso fácil a empréstimos com taxas transparentes e personalizadas de acordo com seu perfil financeiro.</li>
                        <li>Recarga de Celular: Faça recargas de celular diretamente pelo aplicativo Nubank, garantindo conveniência e agilidade.</li>
                        <li>Cartão Virtual: Utilize um cartão virtual para compras online, aumentando a segurança nas transações pela internet.</li>
                    </ul>
                </div>
            </div>

            <div class="card-3">
                <div class="center-imgtt">
                <h1>Além do Roxo: Explorando os Benefícios do Nubank - Dos Cartões Flexíveis à Conta Digital Descomplicada</h1>
                    <img src="img/966ad3afe5f7ba638f4726a50f046224-ultraviolet-card-floating-lg_1x.png_1.png" alt="" width="300px">
                    <ul>
                        <li>Atendimento Humano: Conte com um atendimento ao cliente eficiente e personalizado, focado em resolver suas dúvidas e necessidades.</li>
                        <li>Gestão Total pelo App: Gerencie seu dinheiro, cartões e investimentos de forma integrada e descomplicada, tudo através do aplicativo Nubank.</li>
                        <li>Programa Nubank de Ponta a Ponta: Aproveite descontos e benefícios exclusivos em uma variedade de parceiros, proporcionando economia em diversas áreas.</li>
                        <li>Saques Gratuitos: Realize saques gratuitos em toda a rede Banco24Horas, proporcionando conveniência onde quer que você esteja.</li>
                        <li>Cartão Internacional: Com os cartões Nubank, tenha a facilidade de fazer compras no exterior sem complicação, com uma conversão de moeda justa.</li>
                    </ul>
                </div>
            </div>
        </section>

        <article id="caixa">
            <figure id="gif-final"><img src="img/nuconta-cobrar.gif" alt=""></figure>
            <form action="" id="caixa-email">
                <h1>Newsletter</h1>
                <p>Fique ligado e receba as novidades da Impecável</p>
                <input type="email" placeholder="Digite seu Email" required>
                <button>Enviar</button>
            </form>
        </article>
        
        <footer>
            <p>@Gabriel Fernandes 2023</p>
           <div id="center"> 
            <p>About</p>
            <p>Home</p>
            <p>Contatc</p>
        </div>
        </footer>
    </main>
</body>
<script src="animação.js"></script>
</html>